$autoCompleteBorderWidth: 2px;
$autoCompleteInputHeight: 36px;

.auto-complete-holder {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 300px;
	.auto-complete {
		display: flex;
		border: 2px solid #1867c0;
		border-radius: 4px;
		padding: 0 12px;
		margin: 0;
		width: 100%;
		.auto-complete-legend {
			padding: 0;
			margin-left: 12px;
			transition: all 0.3s ease;
		}
		.auto-complete-label {
			position: absolute;
			left: 26px;
			top: 11px;
			color: rgba(0, 0, 0, 0.6);
			transition: all 0.3s ease;
			&.active {
				color: #1867c0;
				transform: scale(0.9);
				top: -8px;
			}
		}
		.auto-complete-input {
			border: none;
			background: transparent;
			height: $autoCompleteInputHeight;
			font-size: 16px;
			padding: 8px 0;
			width: 100%;
			min-width: 0;
			z-index: 1;
		}
		.loading-icon {
			position: absolute;
			top: 8px;
			right: 16px;
			display: flex;
			flex-direction: row;
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
	.drop-down-holder {
		position: absolute;
		top: $autoCompleteInputHeight + ($autoCompleteBorderWidth*2);
		width: 100%;
		overflow: auto;
		max-height: 300px;
		box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
		transition: all 0.3s ease;
		.drop-down {
			padding: 8px 0;
			font-size: 14px;
			.single-drop-down-item {
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 8px 16px;
				min-height: 40px;
				transition: all 0.3s ease;
				cursor: pointer;
				&:hover {
					background-color: rgba(0, 0, 0, 0.04);
				}
			}
		}
	}
}