* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bbc8de;
  }
}

input, button, textarea {
  font-family: sans-serif;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.App {
  font-family: sans-serif;
  width: 1024px;
  min-height: 100vh;
  margin: auto;
  padding: 36px 0;
  .page-title {
    margin-bottom: 10px;
  }
  .page-description {
    margin-bottom: 22px;
  }
}